/* MENU PRINCIPAL */
body{
    margin: 0;
}
.menu-principal{
    background-color: #161B22;
    color: #f1f1f1;
}
.menu-principal_logo{
    width: 50px;
}
.menu-principal ul{
    list-style: none;
    margin: 0;
}
.menu-principal_item{
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}
.menu-principal_item--arriba{
    position: relative;
    top: -18px;
}
.menu-principal_item--derecha{
    position: absolute;
    right: 10px;
    top: 34px;
}
/* HEADER HOME */
.header-home_img{
    width: 100%;
}
/* PRODUCTO */
.producto_imagen{
    width: 40%;
}
.producto-texto{
    width: 40%;
    display: inline-block;
    margin-left: 20px;
}